@import url('/fonts/webfontkit/stylesheet.css');
.App {
  /* text-align: center; */
  /* font-family: 'hurme_geometric_sans_1black'; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h2{
  font-family: 'hurme_geometric_sans_1SBd';
}
h3{
  font-family: 'hurme_geometric_sans_1SBd';
}
.text-weight-normal{
  font-family: 'hurme_geometric_sans_1light';

}
h4{
  font-family: 'hurme_geometric_sans_1SBd';
}
.btn-custom{
  font-family: 'hurme_geometric_sans_1SBd';
  font-size: 1.2rem;
  padding: 10px;
}
.text-bold-custom{
  font-family: 'hurme_geometric_sans_1bold';
}
p{
  font-size: 1.1rem;
  font-family: 'hurme_geometric_sans_1light';
  margin-bottom: 0;
}
.line-height-sm {
  line-height: 1rem;
}
label{
  font-family: 'hurme_geometric_sans_1SBd';
  font-size: 1.85rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.text-normal-invest{
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 220px;
}
.modal{
  margin-top: 30vh;
}
.modal-content{
  background: #1a1d20;
  border-radius: 0;
  border: none;
}
.close{
  background-color: #fff !important;
  opacity: 1 !important;
  border: solid 2px #e1e1e1 !important;
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 7px !important;
  color: #1a1d20;

}
.modal-title{
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.modal-body{
  box-shadow: 0 0 1.5em #000000b8;
}
.modal-backdrop{
  background-color: transparent;
}
.form-control{
  border-radius: 0;
  border: none;
  box-shadow: none !important;
  font-family: 'hurme_geometric_sans_1SBd';
  padding-top: 0;
  color: #212529;
  width: 60%;
}
.btn-primary{
  background-color: #fff;
  border: solid 2px #e1e1e1 !important;
  color: #1a1d20;
  font-weight: 600;
}
.btn-primary:hover{
  background-color: #e1e1e1;
  color: #1a1d20;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-gray{
  color: #6f6f6f;
}
.info-badge{
  color: #6f6f6f !important;
  position: relative;
  bottom: 2ex; 
  left: 1ex; 
  font-size: 55%;

  font-family: 'hurme_geometric_sans_1light' !important;


}
.calc-header{
  background: #333333;
  border-radius: 0;
}
.calc-body{
  border: solid 2px #e1e1e1;
}
.calc-body-bottom{
  position: relative;
  top: -1px;
}
.vl{
  border-right: solid 4px #e1e1e1;
}
.btn{
  border-radius: 0;
}
.btn-center{
  border: solid 20px #ffffff !important;
  box-shadow: none !important;
  position: absolute;
  top: -40px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
}
.btn-center:hover{
  border: solid 20px #ffffff;
}
.graph-base{
  padding: 10px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.graph-base p{
  font-size: 1.2rem;
  letter-spacing: .1rem;
}
.graph{
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  position: relative;
}
.graph-fill{
    background-color: #343a40;
    position: absolute;
    max-width: 150px;
    width: 100%;
    bottom: 0;
}
/* slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 300px;
  height: 2px;
  border-radius: 5px;  
  background: #aaaaaa;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #000000;
  opacity: 1;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}
.investment-info .investment-info-box-title{
  font-family: 'hurme_geometric_sans_1SBd';
}
.investment-info .investment-info-box{
  margin-top: 20px;
  background-color: #e2e2e2;
  padding: 15px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.starter-text-input .info-badge{
  bottom: -1ex;
    left: 0;
}
.currency-form{
  padding-top: 5px;
}
.currency-form, .form-control, .starter-text-input{
  font-size: 1.75rem;
}
.d-mob{
  display: none;
}

@media only screen and (min-width: 425px) and (max-width:495px){
  .fix{
    height: 180px !important;
  }
}

@media only screen and (max-width: 768px) {
  .d-desk{
    display: none;
  }
  .d-mob{
    display: block;
  }
  .text-normal-invest{
    margin-top: 60px;
  }
  .graph{
    height: 200px;
  }  
  .h4, h4{
    font-size: 1.1rem;
  }
  .h3, h3, .currency-form, .form-control, .starter-text-input{
    font-size: 1.15rem;
  }
  .h2, h2 {
    font-size: 1.5rem;
  }
  label{
    font-size: 1.5rem;
  }

  .pt-mob-55{
    padding-top: 55px !important;
  }
  .pb-mob-55{
    padding-bottom: 55px !important;
  }
  .slider{
    max-width: 100% !important;
  }
  .graph-base p{
    font-size: .8rem;
  }
  
}
